<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrz-Hzv1295x1sGagVjaC-3bgA8NVvfv0</string>
	<key>GCM_SENDER_ID</key>
	<string>546426444832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Andy.oxxopared</string>
	<key>PROJECT_ID</key>
	<string>oxxopared</string>
	<key>STORAGE_BUCKET</key>
	<string>oxxopared.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546426444832:ios:654a1b3fb72cc45e327045</string>
</dict>
</plist>